* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    overflow-x: hidden;
}

.custom-img {
    width: 800px;
}

.detalhes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    border: none;
    color: black;
}

.player {
    aspect-ratio: 16 / 9;
    width: 40vw;
}

#gols {
    background-color: rgb(180, 216, 180);
}

form input {
    max-width: fit-content;
}

span.bar {
    background-color: black;
    width: 60%;
    height: 3px;
    border-radius: 12px;
}

@media (min-width: 577px) and (max-width: 767px) {
    #container-gols {
        text-align: center;
    }

    .div-gol h3, .div-gol p {
        text-align: left;
    }

    .player {
        width: 100%;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    #container-gols {
        text-align: center;
    }

    .div-gol h3, .div-gol p {
        text-align: left;
    }

    .player {
        width: 100%; 
    }
}